#The obvious lot
CVS
.DS_Store
___*
*junk*
*.swp
.*.swp

#Datasets
*.nii*
*.BRIK*
*.HEAD*
*.gii*
*.dset*
*.niml
*.1D

#R Hidden files
*.Rout
*.args

#Miscellaneous
*.BAK

# Matlab temporary files
*.m~

# Octave workspace
octave-workspace
/Debug/

# Python
__pycache__
*.pyc

# Test and coverage artifacts
.pytest_cache
.coverage
