
# Sample configuration file used by NIH real-time AFNI system
# to drive and control real-time neuro-feedback experiments.

PROGRAM: demoExpt.py
PARAM:   -show_data yes
PARAM:   -show_demo_gui yes
PARAM:   -data_choice diff_ratio
# PARAM:   --display 127.0.0.1:1  # example from another expt.
                                  # what can use remote GUIs

